html *{padding:0;margin:0;}

.navbar-wrap{
	position: fixed;
	z-index: 999;
}

/* 菜单按钮图标动画 */
.hamburger{
	position: absolute;
	z-index: 999;
	margin-left: 10px;
	margin-top: 10px;
	width: 32px;
	height: 32px;
	background: transparent;
	border:none;
}
.hamburger:active,.hamburger:focus{outline: none;}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom{
	position: absolute;
	left: 0;
	height: 4px;
	width: 32px;
	background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top{
	top: 5px;
	-ms-transition: -ms-transform 500ms;/* IE */
	-webkit-transition: -webkit-transform 500ms;/* Safari */
	transition: transform 500ms;
}
.hamburger.is-closed .hamb-middle{
	top: 50%;
	margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom{
	bottom: 5px;
	-ms-transition: -ms-transform 500ms;/* IE */
	-webkit-transition: -webkit-transform 500ms;/* Safari */
	transition: transform 500ms;
}
.hamburger.is-closed:hover .hamb-top{
	-ms-transform: translate(0, -4px); /* IE */
	-webkit-transform: translate(0, -4px);/* Safari */
	transform: translate(0, -4px);
}
.hamburger.is-closed:hover .hamb-bottom{
	-ms-transform: translate(0, 4px); /* IE */
	-webkit-transform: translate(0, 4px);/* Safari */
	transform: translate(0, 4px);
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom{
	top: 50%;
	margin-top: -2px;
	-ms-transition: -ms-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
}
.hamburger.is-open .hamb-middle{display: none;}
.hamburger.is-open .hamb-top{
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transition: -ms-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
}
.hamburger.is-open .hamb-bottom{
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transition: -ms-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
}

/*导航菜单列表*/
#sidebar_wrapper{
	position: absolute;
	top: 50px;
	padding-left: 0px;
	margin-left: -200px;
	width: 200px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;

}
#sidebar_wrapper.toggled{
	padding-left: 200px;	
}
.nav-sidebar{border: 1px solid #ccc;background-color: #517b20;}
.nav-sidebar li{padding: 8px 10px;}
.nav-sidebar li.cur,.nav-sidebar li.cur:hover{background-color: #1dad1c;}
.nav-sidebar li:hover{background-color: #49602e;}
.nav-sidebar li a{color: #fff;text-decoration: none;}

.matrix-animation{
	width: 100%;
	height: 350px;
	color: rgba(0, 255, 0, .7);
	background-color: #000;
	text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px;
    position: relative;
    overflow: hidden;
}
@-webkit-keyframes fall{
	from {top: -250px;}
	to {top: 300px;}
}
@keyframes fall{
	from {top: -250px;}
	to {top: 300px;}
}
@-webkit-keyframes fade{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fade{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
.matrix-animation div{
	position: absolute;	
	top: 0;
	-ms-transform-origin: 0%
	-webkit-transform-origin: 0%
	transform-origin: 0%
	-ms-transform: rotate(90deg); 
	-webkit-transform: rotate(90deg); 
	transform: rotate(90deg); 
	/*animation*/
	-webkit-animation-name: fall, fade;	
	animation-name: fall, fade;		
	-webkit-animation-iteration-count: infinite; /* use 0 to infinite */
	animation-iteration-count: infinite; /* use 0 to infinite */
	-webkit-animation-direction: normal; /* default is normal. use 'alternate' to reverse direction */
	animation-direction: normal; /* default is normal. use 'alternate' to reverse direction */
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.matrix-animation h1{color: orangered;margin: 20px 0;font-size: 28px;}
.f1{
	font-size: 1.2em;
}
.f2{
	font-size: .9em;
}
.c1{
	color: rgba(215, 228, 215, 0.5);
}
.d1{
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}
.d2{
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
}
.d3{
	-webkit-animation-duration: 8s;
	animation-duration: 8s;
}
.d4{
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
}
.de{	
	-webkit-animation-delay: 3s;
	animation-duration: 3s;
}
