html *{padding:0;margin:0;}

.navbar-wrap{
	position: fixed;
	z-index: 999;
}

/* 菜单按钮图标动画 */
.hamburger{
	position: absolute;
	z-index: 999;
	margin-left: 10px;
	margin-top: 10px;
	width: 32px;
	height: 32px;
	background: transparent;
	border:none;
	cursor: pointer;
}
.hamburger:active,.hamburger:focus{outline: none;}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom{
	position: absolute;
	left: 0;
	height: 4px;
	width: 32px;
	background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top{
	top: 5px;
	-ms-transition: -ms-transform 500ms;/* IE */
	-webkit-transition: -webkit-transform 500ms;/* Safari */
	transition: transform 500ms;
}
.hamburger.is-closed .hamb-middle{
	top: 50%;
	margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom{
	bottom: 5px;
	-ms-transition: -ms-transform 500ms;/* IE */
	-webkit-transition: -webkit-transform 500ms;/* Safari */
	transition: transform 500ms;
}
.hamburger.is-closed:hover .hamb-top{
	-ms-transform: translate(0, -4px); /* IE */
	-webkit-transform: translate(0, -4px);/* Safari */
	transform: translate(0, -4px);
}
.hamburger.is-closed:hover .hamb-bottom{
	-ms-transform: translate(0, 4px); /* IE */
	-webkit-transform: translate(0, 4px);/* Safari */
	transform: translate(0, 4px);
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom{
	top: 50%;
	margin-top: -2px;
	-ms-transition: -ms-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
}
.hamburger.is-open .hamb-middle{display: none;}
.hamburger.is-open .hamb-top{
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transition: -ms-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
}
.hamburger.is-open .hamb-bottom{
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transition: -ms-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: transform 500ms;
}

/*导航菜单列表*/
#sidebar_wrapper{
	position: absolute;
	top: 50px;
	padding-left: 0px;
	margin-left: -200px;
	width: 200px;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;

}
#sidebar_wrapper.toggled{
	padding-left: 200px;	
}
.nav-sidebar{border: 1px solid #ccc;background-color: #517b20;}
.nav-sidebar li{padding: 8px 10px;cursor: pointer}
.nav-sidebar li.cur,.nav-sidebar li.cur:hover{background-color: #1dad1c;}
.nav-sidebar li:hover{background-color: #49602e;}
.nav-sidebar li a{color: #fff;text-decoration: none;}

.matrix-animation{
	width: 100%;
	height: 350px;
	color: rgba(0, 255, 0, .7);
	background-color: #000;
	text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}
@-webkit-keyframes fall{
	from {top: -250px;}
	to {top: 300px;}
}
@keyframes fall{
	from {top: -250px;}
	to {top: 300px;}
}
@-webkit-keyframes fade{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fade{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
.matrix-animation div{
	position: absolute;	
	top: 0;
	-ms-transform-origin: 0%
	-webkit-transform-origin: 0%
	transform-origin: 0%
	-ms-transform: rotate(90deg); 
	-webkit-transform: rotate(90deg); 
	transform: rotate(90deg); 
	/*animation*/
	-webkit-animation-name: fall, fade;	
	animation-name: fall, fade;		
	-webkit-animation-iteration-count: infinite; /* use 0 to infinite */
	animation-iteration-count: infinite; /* use 0 to infinite */
	-webkit-animation-direction: normal; /* default is normal. use 'alternate' to reverse direction */
	animation-direction: normal; /* default is normal. use 'alternate' to reverse direction */
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.matrix-animation h1{color: orangered;margin: 20px 0;font-size: 28px;}
.f1{
	font-size: 1.2em;
}
.f2{
	font-size: .9em;
}
.c1{
	color: rgba(215, 228, 215, 0.5);
}
.d1{
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}
.d2{
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
}
.d3{
	-webkit-animation-duration: 8s;
	animation-duration: 8s;
}
.d4{
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
}
.de{	
	-webkit-animation-delay: 3s;
	animation-duration: 3s;
}


/****立方体骰子****/

@-moz-keyframes spinningH {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-o-keyframes spinningH {
  from {
    -o-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -o-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-ms-keyframes spinningH {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -ms-transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg); 
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}


.animation {
  -webkit-animation : spinningH 6s infinite linear;
  -moz-animation    : spinningH 6s infinite linear;
  -o-animation      : spinningH 6s infinite linear;
  -ms-animation     : spinningH 6s infinite linear;
  animation         : spinningH 6s infinite linear;
}

#cube {
  /* position: relative; */
  margin: 0 auto;
  height: 80px;
  width: 80px;
  /* -webkit-transition  : -webkit-transform 2s linear; */
  -moz-transition     : -moz-transform 2s linear;
  -o-transition       : -o-transform 2s linear;
  -ms-transition      : -ms-transform 2s linear;
  /* transition          : transform 2s linear; */
  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}

#cube>div {
  position: absolute;
  height: 120px;
  width: 120px;
  padding: 20px;
  opacity: 1;
  background-position:center;
  box-sizing:border-box;
}

#cube div:nth-child(1) {
  -webkit-transform : translateZ(60px);
  -moz-transform    : translateZ(60px);
  -o-transform      : translateZ(60px);
  -ms-transform     : translateZ(60px);
  transform         : translateZ(60px);
  background-color:rgba(255,0,0,0.5);
  border:1px solid #ccc;
  box-shadow:inset 0 0 20px rgba(0,0,0,.2);
}

#cube div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(60px);
  -moz-transform    : rotateY(90deg) translateZ(60px);
  -o-transform      : rotateY(90deg) translateZ(60px);
  -ms-transform     : rotateY(90deg) translateZ(60px);
  transform         : rotateY(90deg) translateZ(60px);
  background-color:rgba(255,0,0,0.5);
  border:1px solid #ccc;
  box-shadow:inset 0 0 20px rgba(0,0,0,.2);
}

#cube div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(60px);
  -moz-transform    : rotateY(180deg) translateZ(60px);
  -o-transform      : rotateY(180deg) translateZ(60px);
  -ms-transform     : rotateY(180deg) translateZ(60px);
  transform         : rotateY(180deg) translateZ(60px);
  background-color:rgba(255,0,0,0.5);
  border:1px solid #ccc;
  box-shadow:inset 0 0 20px rgba(0,0,0,.2);
}

#cube div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(60px);
  -moz-transform    : rotateY(-90deg) translateZ(60px);
  -o-transform      : rotateY(-90deg) translateZ(60px);
  -ms-transform     : rotateY(-90deg) translateZ(60px);
  transform         : rotateY(-90deg) translateZ(60px);
  background-color:rgba(255,0,0,0.5);
  border:1px solid #ccc;
  box-shadow:inset 0 0 20px rgba(0,0,0,.2);
}

#cube div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(60px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(60px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(60px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(60px) rotate(180deg);
  transform         : rotateX(-90deg) translateZ(60px) rotate(180deg);
  background-color:rgba(255,0,0,0.5);
  border:1px solid #ccc;
  box-shadow:inset 0 0 20px rgba(0,0,0,.2);
}

#cube div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(60px);
  -moz-transform    : rotateX(90deg) translateZ(60px);
  -o-transform      : rotateX(90deg) translateZ(60px);
  -ms-transform     : rotateX(90deg) translateZ(60px);
  transform         : rotateX(90deg) translateZ(60px);
  background-color:rgba(255,0,0,0.5);
  border:1px solid #ccc;
  box-shadow:inset 0 0 20px rgba(0,0,0,.2);
  text-align:center;  
}

/*css3animation.html*/
@-webkit-keyframes animatedDiv{
  0%    {left: 0; background-color: green;}
  20%   {left: 50px;background-color: blue;}
  40%   {left: 150px;background-color: red;}
  60%   {left: 280px;background-color: purple;}
  80%   {left: 350px;background-color: yellow;}
  100%  {left: 0px;background-color: blue;}
}
@-moz-keyframes animatedDiv{
  0%    {left: 0; background-color: green;}
  20%   {left: 50px;background-color: blue;}
  40%   {left: 150px;background-color: red;}
  60%   {left: 280px;background-color: purple;}
  80%   {left: 350px;background-color: yellow;}
  100%  {left: 0px;background-color: blue;}
}
@-o-keyframes animatedDiv{
  0%    {left: 0; background-color: green;}
  20%   {left: 50px;background-color: blue;}
  40%   {left: 150px;background-color: red;}
  60%   {left: 280px;background-color: purple;}
  80%   {left: 350px;background-color: yellow;}
  100%  {left: 0px;background-color: blue;}
}
@-ms-keyframes animatedDiv{
  0%    {left: 0; background-color: green;}
  20%   {left: 50px;background-color: blue;}
  40%   {left: 150px;background-color: red;}
  60%   {left: 280px;background-color: purple;}
  80%   {left: 350px;background-color: yellow;}
  100%  {left: 0px;background-color: blue;}
}
@keyframes animatedDiv{
  0%    {left: 0; background-color: green;}
  20%   {left: 50px;background-color: blue;}
  40%   {left: 150px;background-color: red;}
  60%   {left: 280px;background-color: purple;}
  80%   {left: 350px;background-color: yellow;}
  100%  {left: 0px;background-color: blue;}
}
#animated_div{
  position: relative;
  width:72px;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
  padding: 0 4px;
  border-radius: 4px;
  color: #ccc;
  font-weight: bold;
  -webkit-animation: animatedDiv 5s infinite;
  -moz-animation: animatedDiv 5s infinite;
  -ms-animation: animatedDiv 5s infinite;
  -o-animation: animatedDiv 5s infinite;
  animation: animatedDiv 5s infinite;
} 
